.main_home {
  a {
    background-color: #fff;
    padding: 0.3rem;
    border-radius: 10px;
    font-size: 1.1rem;
    display: block;
    width: 60px;
    margin: 1rem auto;

    &:hover {
      opacity: 0.8;
    }
  }
}



header {
  position: relative;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.logo {
  flex: 1 1 20rem;
  margin: 1rem;
  font-size: 2rem;
  font-family: 'Fredoka One',
    cursive;
}

.nav-links {
  flex: 1 1 20rem;
  display: flex;
  width: 300px;
  justify-content: space-between;
  display: none;
  font-size: 1.2rem;
  margin: 1rem;
}

.hamburger {
  position: absolute;
  top: 40%;
  right: 3%;

  div {
    width: 30px;
    height: 4px;
    background-color: #000;
    margin-bottom: 2px;
  }
}

.main-title {
  padding: 0.5rem;
}

.sub {
  text-align: center;
  font-weight: lighter;
  font-weight: 1.3rem;
  padding: 0.4rem;
  margin: 1rem auto;
}


@media (min-width: 600px) {
  .nav-links {
    display: flex;
  }

  .hamburger {
    display: none;
  }
}

@media (min-width: 1000px) {

  .main_home,
  .main-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

}