* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  animation: entrance 0.3s ease-in;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

main {
  margin: 2rem auto 5rem;
  max-width: 90%;
  text-align: center;
  background-color: #7d1bee;
  border: 1px solid #000;
  color: #fff;

  h1 {
    margin: 2rem auto;
  }

  p {
    font-size: 1.2rem;
    margin: 2rem auto;
  }
}

img {
  width: 100%;
  display: block;
}


@keyframes entrance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@import "home";
@import "about";
@import "join";